@model List<Feedback.DAL.Model.TeacherInfo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table class="table table-striped">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Action</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <button class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></button>
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
            </tr>
        }
    </table>
</body>
</html>

