@model Feedback.DAL.Model.UserInfo
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <style>
        .panel.login-form {
            background-color: white;
            padding: 40px;
            margin-top: 25px;
        }

        body {
            background-color: gainsboro;
        }

        .text-center.login-note {
            text-align: center;
            font-size: 20px;
            margin-top: 50px;
        }
    </style>
</head>
<body>

    <div class="container login-back">
        <div class="row">
            <div class="col-lg-4">

            </div>
            <div class="col-lg-4">
                <div class="text-center login-note"><strong>PLEASE LOGIN TO APP</strong></div>
                <div class="text-center">Enter Your credentials to login.</div>
                <div class="panel login-form">
                    <form action="~/User/Login" method="post">
                        <div class="form-group">
                            <label for="email">UserName:</label>
                            <input class="form-control" type="text" name="UserName" value="" placeholder="admin" />
                            <span>Your unique UserName to app</span>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input class="form-control" type="password" name="Password" value="" placeholder="Password" />
                            <span>Your strong password</span>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="name" value="" /><strong>Remember Me</strong></label>

                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success form-control">Login</button>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-default form-control">Registration</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">

            </div>
        </div>
    </div>

</body>
</html>
